html, body {
    margin: 0vw;
    /* padding: 2vw; */
    background-color: #000;
  }
  
  header #index {
    height: 20vh; 
    /* margin-bottom: 10vh; */
  }
 
  canvas {
    display: block;
  }
  /* nav {
    background-color: #fff;
  } */

  div {
    margin: 1vh;
    padding: 1vw;
    color: #fff;
  }
 
  iframe {
    margin-top: 1vh;
    width: 90vw;
    /* margin-left: 1vw; */
    margin-right: 5vw;
  }
  
  a:link, a:visited {
    /* color:#361660; */
    /* background-color: #fff; */
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    opacity: 0.3;
  }
  
  .flex-container {
    display:flex;
    flex-direction: row;
    /*flex-direction:column;*/
    height: 88vh;
    justify-content: space-between;
  }
  
  #links {
    display:block;
    float: right;
    padding: 8px;
  }