html, body {
    margin: 0;
    padding: 0;
    background-color: #898989;
    color: #fff;
    font-size: 20px;
  }
  canvas {
    display: block;
  }

  div {
    display: flex;
    width: 160px;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  